{% extends 'base.html' %}
{% block content %}
    {% load static %}


    <header>
        {% include 'nav-bar.html' %}
    </header>

    <section class="login-page">
        <h2>Zmień hasło</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="password" name="old-password" placeholder="Stare hasło"/>
            </div>
            <div class="form-group">
                <input type="password" name="new-password" placeholder="Nowe hasło"/>
            </div>
            <div class="form-group">
                <input type="password" name="new-password2" placeholder="Powtórz nowe hasło"/>
            </div>

            <h2>{{ message }}</h2>
            <h1>{{ message2 }}</h1>

            <div class="form-group form-group--buttons">
                <button class="btn" type="submit">Zapisz</button>
            </div>
        </form>
    </section>

{% endblock %}
