<nav class="container container--70">
    <ul class="nav--actions">
        <li><a href="" class="btn btn--small btn--without-border">Zaloguj</a></li>
        <li><a href="#" class="btn btn--small btn--highlighted">Załóż konto</a></li>
    </ul>

    <ul>
        <li><a href="{% url 'base' %}" class="btn btn--without-border active">Start</a></li>
        <li><a href="{% url 'base' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
        <li><a href="{% url 'base' %}#about-us" class="btn btn--without-border">O nas</a></li>
        <li><a href="{% url 'base' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
        <li><a href="{% url 'form' %}" class="btn btn--without-border">Przekaż dary</a></li>
        <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
    </ul>
</nav>
