<nav class="container container--70">
    {% if not user.is_authenticated %}
        <ul class="nav--actions">
            <li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
            <li><a href="{% url 'register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
        </ul>
    {% endif %}
    {% if user.is_authenticated %}
        <ul class="nav--actions">
            <li class="logged-user">
                Witaj {{ user.first_name }}
                <ul class="dropdown">
                    <li><a href="#">Profil</a></li>
                    <li><a href="#">Ustawienia</a></li>
                    {% if user.is_superuser %}<li><a href="/admin">Panel adm.</a></li>{% endif %}
                    <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                </ul>
            </li>
        </ul>
    {% endif %}

    <ul>
        <li><a href="{% url 'base' %}" class="btn btn--without-border active">Start</a></li>
        <li><a href="{% url 'base' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
        <li><a href="{% url 'base' %}#about-us" class="btn btn--without-border">O nas</a></li>
        <li><a href="{% url 'base' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
        <li><a href="{% url 'form' %}" class="btn btn--without-border">Przekaż dary</a></li>
        <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
    </ul>
</nav>
